mat-form-field {
	margin: 5px;
}

mat-card-actions.mat-card-actions {
	display: flex;
	justify-content: flex-end;
	button:first-child {
		margin-right: 10px;
	}
}

.mat-dialog-actions {
	justify-content: flex-end;
	button:first-child {
		margin-right: 10px;
	}
}
mat-card-header.mat-card-header {
	flex-direction: column;
}

.cdk-drag-handle {
	cursor: grab;
}

.sd__margin {
	display: flex;

	min-height: calc(100vh - 64px);
}

.sd__margin router-outlet + * {
	display: block;

	padding: 15px;
}
