@import './public/theme-variables';

.style-success {
	color: $sd-primary-contrast;
	background-color: $sd-primary;
}
.style-success .mat-simple-snackbar-action {
	color: $sd-primary-contrast;
}
.style-error {
	color: $sd-warn-contrast;
	background-color: $sd-warn;
}
.style-error .mat-simple-snackbar-action {
	color: $sd-warn-contrast;
}
