@import 'css/theming';
@import 'css/materialshame';
@import 'css/table';
@import 'css/spinnerpromises';
@import 'css/snackbar';
@import 'css/schrollbar';

html,
body {
	height: 100%;
}
body {
	margin: 0;

	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
