@import '../../../../css/public/theme-variables';

.sd__side-menu {
	display: flex;
	flex-direction: column;

	min-width: 200px;
	height: 100vh;
	margin: 0;
	padding: 0;

	background-color: $sv-secondary;

	.sd__item {
		cursor: pointer;
	}

	a {
		text-decoration: none;
		&:focus {
			outline-color: white;
		}
	}
	h3.mat-subheader,
	.sd__item {
		color: white;
		background-color: $sv-secondary;
		.mat-list-item {
			color: white;
		}
	}
	.user__icon {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.sd__item--active {
		text-transform: uppercase;

		background-color: $sv-primary;
	}
	.sd__side-divider {
		background-color: white;
	}
}

.sd__side-login {
	display: block;

	margin: 0 auto;
}

